    #content{
        outline: 0;
    }
    main{
        display: block;
    }
    
    .jss68{
        flex: 1 0 100%;
    }
    
    .jss69{
    color:"#e91e63";
    padding-top:"64px";
  }

  .jss70{
    display: "flex";
    text-align: "center";
    align-items: "center";
    padding-top: "32px";
    flex-direction: "column";
    padding-bottom: "64px";
  }